{% extends "base.html" %} {% block content %}
<h1>Add a team member</h1>
<h3>Set email, location and role.</h3>
<form action="../" method="POST">
  <h3>Info</h3>
  <br>
  <input type="text" placeholder="First name" name="firstName" /></br>
  <br><input type="text" placeholder="Last name" name="lastName" /></br>
  <br><input type="email" placeholder="Email" name="email" /></br>
  <br><input
    type="number"
    placeholder="Phone number"
    name="phoneNumber"
    min="0000000000"
    max="9999999999"
  /></br>
  <h3>Role</h3>
  <br><input type="radio" name="isAdmin" value="no" checked>Regular - Can't delete Members</input></br>
  <br><input type="radio" name="isAdmin" value="yes">Admin - Can delete members</input></br>
  <br></br>
  <input type="submit" value="Save" name="addButton" />
</form>

{% endblock content %}
